<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/batch
       http://www.springframework.org/schema/batch/spring-batch.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.bconv" />
    <context:component-scan base-package="kz.bsbnb.usci.receiver" />
    <context:component-scan base-package="kz.bsbnb.usci.tool.status" />

    <bean id="context" class="org.jooq.impl.DSL" factory-method="using">
        <constructor-arg name="dialect">
            <value type="org.jooq.SQLDialect">${jooqReceiver.executor.constructor.args.first}</value>
        </constructor-arg>
        <!-- <constructor-arg index="0" value="${jooq.executor.constructor.args.first}"/> -->
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbcReceiver.driver}"/>
        <property name="url" value="${jdbcReceiver.url}"/>
        <property name="username" value="${jdbcReceiver.user}"/>
        <property name="password" value="${jdbcReceiver.password}"/>
        <property name="initialSize" value="${jdbcReceiver.initialSize}"/>
        <property name="minIdle" value="${jdbcReceiver.minIdle}"/>
        <property name="maxActive" value="${jdbcReceiver.maxActive}"/>
        <property name="maxIdle" value="${jdbcReceiver.maxIdle}"/>
    </bean>

    <bean id="dataSource_CORE_E" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.core.driver}"/>
        <property name="url" value="${jdbc.core.url}"/>
        <property name="username" value="${jdbc.core.user}"/>
        <property name="password" value="${jdbc.core.password}"/>
        <property name="initialSize" value="${jdbc.core.initialSize}"/>
        <property name="minIdle" value="${jdbc.core.minIdle}"/>
        <property name="maxActive" value="${jdbc.core.maxActive}"/>
        <property name="maxIdle" value="${jdbc.core.maxIdle}"/>
    </bean>

    <bean id="dataSource_SHOWCASE_E" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.showcase.driver}"/>
        <property name="url" value="${jdbc.showcase.url}"/>
        <property name="username" value="${jdbc.showcase.user}"/>
        <property name="password" value="${jdbc.showcase.password}"/>
        <property name="initialSize" value="${jdbc.showcase.initialSize}"/>
        <property name="minIdle" value="${jdbc.showcase.minIdle}"/>
        <property name="maxActive" value="${jdbc.showcase.maxActive}"/>
        <property name="maxIdle" value="${jdbc.showcase.maxIdle}"/>
    </bean>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.xml</value>
            </list>
        </property>
    </bean>

    <!-- spring transaction manager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource_CORE_E"/>
    </bean>

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="monitor" class="kz.bsbnb.usci.receiver.monitor.ZipFilesMonitor">
        <constructor-arg>
            <map>
                <entry key="1" value-ref="batchJob" />
                <entry key="2" value-ref="batchJobCR" />
            </map>
        </constructor-arg>
    </bean>

    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
        <property name="taskExecutor">
            <bean class="org.springframework.core.task.SimpleAsyncTaskExecutor">
                <property name="concurrencyLimit" value="${concurrencyLimit}" />
            </bean>
        </property>
    </bean>

    <batch:job id="batchJob">
        <batch:step id="workflow">
            <batch:tasklet>
                <batch:chunk reader="staxEventEntityReader" writer="rmiEventEntityWriter" processor="entityProcessor" commit-interval="50"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="batchJobListener" after-job-method="afterJob" before-job-method="beforeJob"/>
        </batch:listeners>
    </batch:job>

    <batch:job id="batchJobCR">
        <batch:step id="workflow1">
            <batch:tasklet>
                <batch:chunk reader="CREntityReader" writer="rmiEventEntityWriter" processor="entityProcessor" commit-interval="100"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="batchJobListener" after-job-method="afterJob" before-job-method="beforeJob"/>
        </batch:listeners>
    </batch:job>

    <!-- remote services -->
    <bean id="remoteEntityService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/entityService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IEntityService"/>
    </bean>

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/batchService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IBatchService"/>
    </bean>

    <bean id="remoteMetaFactoryService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/metaFactoryService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IMetaFactoryService"/>
    </bean>

    <bean id="remoteUserService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/portalUserBeanRemoteBusiness"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.PortalUserBeanRemoteBusiness"/>
    </bean>

    <bean id="reportBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/reportBeanRemoteBusiness"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.ReportBeanRemoteBusiness"/>
    </bean>

    <bean id="remoteCreditorService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/remoteCreditorBusiness"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.RemoteCreditorBusiness"/>
    </bean>

    <!--
    <bean id="remoteRuleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/ruleService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IRuleService"/>
    </bean>
    -->

    <bean id="mailRemoteBusiness" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/mailRemoteBusiness"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.MailMessageBeanCommonBusiness"/>
    </bean>

    <bean id="remoteGlobalService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/globalService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IGlobalService"/>
    </bean>

    <!-- available services -->
    <bean id="batchProcessRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="batchProcessService"/>
        <property name="service" ref="batchProcessServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.receiver.service.IBatchProcessService"/>
        <property name="registryPort" value="1093"/>
        <property name="servicePort" value="59300"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/oracle.properties</value>
                <value>classpath:properties/main.properties</value>
                <value>classpath:properties/refs.properties</value>
            </list>
        </property>
    </bean>


    <!-- ActiveMQ destinations to use -->
    <amq:queue id="destination" physicalName="showcaseQueue"/>

    <!-- ActiveMQ broker URL -->
    <amq:connectionFactory id="jmsFactory" brokerURL="tcp://localhost:61616?wireFormat.maxInactivityDuration=0"/>

    <!-- Spring JMS ConnectionFactory -->
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory" p:targetConnectionFactory-ref="jmsFactory"/>

    <!-- Spring JMS Producer Configuration -->
    <bean id="jmsProducerTemplate" class="org.springframework.jms.core.JmsTemplate" p:connectionFactory-ref="singleConnectionFactory" p:defaultDestination-ref="destination"/>

</beans>
