<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.bconv" />

    <!-- Add this tag to enable annotations transactions -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <bean id="entityProcessorListenerImpl" class="kz.bsbnb.usci.eav.showcase.EntityProcessorListenerImpl">
    </bean>

    <bean id="rulesStatelessProcessor" class="kz.bsbnb.usci.eav.persistance.dao.impl.BaseEntityProcessorDaoImpl">
        <property name="applyListener" value="#{null}" />
        <property name="dbApplyEnabled" value="#{false}" />
    </bean>

    <bean id="baseEntityProcessor" class="kz.bsbnb.usci.eav.persistance.dao.impl.BaseEntityProcessorDaoImpl">
        <property name="applyListener" ref="entityProcessorListenerImpl" />
        <property name="dbApplyEnabled" value="#{true}" />
    </bean>


    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbcPersistance.driver}"/>
        <property name="url" value="${jdbcPersistance.url}"/>
        <property name="username" value="${jdbcPersistance.user}"/>
        <property name="password" value="${jdbcPersistance.password}"/>
        <property name="initialSize" value="${jdbcPersistance.initialSize}"/>
        <property name="minIdle" value="${jdbcPersistance.minIdle}"/>
        <property name="maxActive" value="${jdbcPersistance.maxActive}"/>
        <property name="maxIdle" value="${jdbcPersistance.maxIdle}"/>
    </bean>-->

    <import resource="applicationContextProp.xml" ></import>

    <!-- spring transaction manager -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="context" class="org.jooq.impl.DSL" factory-method="using">
        <constructor-arg name="dialect">
            <value type="org.jooq.SQLDialect">${jooq.executor.constructor.args.first}</value>
        </constructor-arg>
        <!-- <constructor-arg index="0" value="${jooq.executor.constructor.args.first}"/> -->
    </bean>

    <!-- ActiveMQ destinations to use -->
    <amq:queue id="destination" physicalName="${jms.queueName}"/>

    <!-- ActiveMQ broker URL -->
    <amq:connectionFactory id="jmsFactory" brokerURL="${jms.brokerURL}"/>

    <!--<amq:broker useJmx="true" />-->

    <!-- Spring JMS ConnectionFactory -->
    <bean id="singleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory" p:targetConnectionFactory-ref="jmsFactory"/>

    <!-- Spring JMS Producer Configuration -->
    <bean id="jmsProducerTemplate" class="org.springframework.jms.core.JmsTemplate" p:connectionFactory-ref="singleConnectionFactory" p:defaultDestination-ref="destination"/>

    <!-- datasource to the database -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/oracle.properties</value>
                <value>classpath:properties/main.properties</value>
                <value>classpath:properties/refs.properties</value>
                <value>classpath:properties/jms.properties</value>
            </list>
        </property>
    </bean>
</beans>
