<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <import resource="applicationContextEAVPersistanse.xml"></import>
    <import resource="applicationContextDDL.xml"></import>

    <context:component-scan base-package="kz.bsbnb.usci.bconv" />
    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.eav.tool" />
    <context:component-scan base-package="kz.bsbnb.usci.cli" />

    <context:annotation-config/>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSourceRef" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="${jdbc.ref.driver}" />
        <property name="url" value="${jdbc.ref.url}" />
        <property name="username" value="${jdbc.ref.user}" />
        <property name="password" value="${jdbc.ref.password}" />
    </bean>

    <bean id="dataSourceSC" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="SHOWCASE"/>
        <property name="password" value="SHOW_2015"/>
        <property name="initialSize" value="16"/>
        <property name="maxActive" value="16"/>
        <!--<property name="validationQuery" value="${jdbcSC.validationQuery}"/>-->
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/batchService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.brms.rulemodel.service.IBatchService"/>
    </bean>
    <bean id="remoteBatchVersionService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/batchVersionService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.brms.rulemodel.service.IBatchVersionService"/>
    </bean>
    <bean id="remoteRuleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/ruleService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.brms.rulemodel.service.IRuleService"/>
    </bean>
</beans>