<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:drools="http://drools.org/schema/drools-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/batch
       http://www.springframework.org/schema/batch/spring-batch.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd

       http://drools.org/schema/drools-spring http://anonsvn.jboss.org/repos/labs/labs/jbossrules/trunk/drools-container/drools-spring/src/main/resources/org/drools/container/spring/drools-spring.xsd">

    <!--http://drools.org/schema/drools-spring http://anonsvn.jboss.org/repos/labs/labs/jbossrules/trunk/drools-container/drools-spring/src/main/resources/org/drools/container/spring/drools-spring.xsd">-->
    <!--http://drools.org/schema/drools-spring drools-spring.xsd"-->
    <context:component-scan base-package="kz.bsbnb.usci.eav"/>
    <context:component-scan base-package="kz.bsbnb.usci.rulesingleton"/>


    <context:annotation-config/>

    <drools:kbase id="kbase">
        <drools:resources>
            <!--<drools:resource source="classpath:drl/test.drl"/>-->
        </drools:resources>
    </drools:kbase>

    <!--<bean id="ruleSingleton" class="kz.bsbnb.usci.rules.RulesSingleton">-->
    <!--<property name="kbase" ref="kbase"></property>-->
    <!--</bean>-->

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/batchService"/>
        <property name="serviceInterface" value="IBatchService"/>
    </bean>
    <bean id="remoteBatchVersionService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/batchVersionService"/>
        <property name="serviceInterface" value="IBatchVersionService"/>
    </bean>
    <bean id="remoteRuleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1097/ruleService"/>
        <property name="serviceInterface" value="IRuleService"/>
    </bean>

    <!--<context:component-scan base-package="kz.bsbnb.usci.porltet.entity" />-->

    <!--&lt;!&ndash; remote services &ndash;&gt;-->
    <!--<bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
    <!--<property name="serviceUrl" value="rmi://127.0.0.1:1099/batchService"/>-->
    <!--<property name="serviceInterface" value="rules.service.IBatchService"/>-->
    <!--</bean>-->

    <!--<bean id="remoteRuleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
    <!--<property name="serviceUrl" value="rmi://127.0.0.1:1099/ruleService"/>-->
    <!--<property name="serviceInterface" value="rules.service.IRuleService"/>-->
    <!--</bean>-->

    <!--<bean id="remoteBatchVersionService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
    <!--<property name="serviceUrl" value="rmi://127.0.0.1:1099/batchVersionService"/>-->
    <!--<property name="serviceInterface" value="rules.service.IBatchVersionService"/>-->
    <!--</bean>-->


</beans>