@import "../reindeer/styles.css";
.v-table-cell-wrapper {
    /* Do not specify any margins, paddings or borders here */
    white-space: normal;
    overflow: hidden;
}

.colored-table .v-table-cell-content {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 6px;
    border-right: 1px solid #aaa;
}
.colored-table .v-table-cell-content-lightgreen {
    background: #C1FFAC;
    color:      black;
    border-bottom: 1px solid #AAAAAA;
}
.colored-table .v-table-cell-content-red{
    background: #EE0000;
    color:      black;
    border-bottom: 1px solid #AAAAAA;
}
.colored-table .v-table-cell-content-yellow{
    background: #FFDEAD;
    color:      black;
    border-bottom: 1px solid #AAAAAA;
}

/* Basic style for all selected cells . */
.colored-table .v-selected .v-table-cell-content {
    border-right-color: #466c90;
}

.colored-table .v-selected .v-table-cell-content-lightgreen,
.colored-table .black .v-selected .v-table-cell-content-lightgreen{
    background-color: #5B677D;
    color: #fff;
    text-shadow: #3b5a7a 0 1px 0;
}

.colored-table .v-selected .v-table-cell-content-red,
.colored-table .black .v-selected .v-table-cell-content-red{
    background-color: #5B677D;
    color: #fff;
    text-shadow: #3b5a7a 0 1px 0;
}
