<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="applicationContextEAVPersistanse.xml"></import>

    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.sync.service.impl" />

    <context:annotation-config/>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:properties/log4j.properties</value>
            </list>
        </property>
    </bean>

    <!-- remote services -->
    <bean id="remoteEntityService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/entityService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IEntityService"/>
    </bean>

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/batchService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IBatchService"/>
    </bean>

    <bean id="remoteMetaFactoryService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/metaFactoryService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IMetaFactoryService"/>
    </bean>

    <!-- available services -->
    <bean id="entityRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="entityService"/>
        <property name="service" ref="entityServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IEntityService"/>
        <property name="registryPort" value="1098"/>
    </bean>

    <bean id="batchRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="batchService"/>
        <property name="service" ref="batchServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IBatchService"/>
        <property name="registryPort" value="1098"/>
    </bean>

    <bean id="metaFactoryRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="metaFactoryService"/>
        <property name="service" ref="metaFactoryServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IMetaFactoryService"/>
        <property name="registryPort" value="1098"/>
    </bean>

    <bean class="kz.bsbnb.usci.sync.job.impl.DataJob" id="dataJob" init-method="start" />

</beans>