<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/batch
       http://www.springframework.org/schema/batch/spring-batch.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="kz.bsbnb.usci.bconv" />
    <context:component-scan base-package="kz.bsbnb.usci.bconv.cr.parser.impl" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/dataSource.properties</value>
            </list>
        </property>
    </bean>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:database/dataSource.xml" />
    <import resource="classpath:database/hibernate.xml" />

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.receiver" />

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>

    <batch:job id="batchJob">
        <batch:step id="workflow">
            <batch:tasklet>
                <batch:chunk reader="CREntityReader"
                             writer="rmiEventEntityWriter"
                             processor="entityProcessor" commit-interval="1"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="batchJobListener" after-job-method="afterJob" before-job-method="beforeJob"/>
        </batch:listeners>
    </batch:job>

    <!-- remote services -->
    <bean id="remoteEntityService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/entityService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IEntityService"/>
    </bean>

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/batchService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IBatchService"/>
    </bean>

    <bean id="remoteMetaFactoryService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/metaFactoryService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IMetaFactoryService"/>
    </bean>

    <bean id="context" class="org.jooq.impl.DSL" factory-method="using">
        <constructor-arg name="dialect">
            <value type="org.jooq.SQLDialect">${jooq.executor.constructor.args.first}</value>
        </constructor-arg>
        <!-- <constructor-arg index="0" value="${jooq.executor.constructor.args.first}"/> -->
    </bean>

</beans>