<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/batch
       http://www.springframework.org/schema/batch/spring-batch.xsd">

    <context:annotation-config/>

    <import resource="applicationContextEAVPersistanse.xml"></import>
    <import resource="classpath:database/hibernate.xml" />
    <import resource="applicationContextDroolsSingleton.xml"></import>


    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.bconv" />
    <context:component-scan base-package="kz.bsbnb.usci.brms.rulesingleton" />
    <context:component-scan base-package="kz.bsbnb.usci.receiver" />

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:properties/log4j.properties</value>
            </list>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="monitor" class="kz.bsbnb.usci.receiver.monitor.ZipFilesMonitor">
        <constructor-arg>
            <map>
                <entry key="1" value-ref="batchJob" />
                <entry key="2" value-ref="batchJobCR" />
            </map>
        </constructor-arg>
    </bean>

    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
        <property name="taskExecutor">
            <bean class="org.springframework.core.task.SimpleAsyncTaskExecutor">
                <property name="concurrencyLimit" value="3" />
            </bean>
        </property>
    </bean>

    <batch:job id="batchJob">
        <batch:step id="workflow">
            <batch:tasklet>
                <batch:chunk reader="staxEventEntityReader"
                             writer="rmiEventEntityWriter"
                             processor="entityProcessor" commit-interval="10"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="batchJobListener" after-job-method="afterJob" before-job-method="beforeJob"/>
        </batch:listeners>
    </batch:job>

    <batch:job id="batchJobCR">
        <batch:step id="workflow1">
            <batch:tasklet>
                <batch:chunk reader="CREntityReader"
                             writer="rmiEventEntityWriter"
                             processor="entityProcessor" commit-interval="10"/>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="batchJobListener" after-job-method="afterJob" before-job-method="beforeJob"/>
        </batch:listeners>
    </batch:job>

    <!-- remote services -->
    <bean id="remoteEntityService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/entityService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IEntityService"/>
    </bean>

    <bean id="remoteBatchService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/batchService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IBatchService"/>
    </bean>

    <bean id="remoteMetaFactoryService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1098/metaFactoryService"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.sync.service.IMetaFactoryService"/>
    </bean>

    <bean id="remoteUserService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="refreshStubOnConnectFailure" value="true"/>
        <property name="serviceUrl" value="rmi://127.0.0.1:1099/portalUserBeanRemoteBusiness"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.PortalUserBeanRemoteBusiness"/>
    </bean>

</beans>