<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <import resource="applicationContextEAVPersistanse.xml"></import>

    <context:component-scan base-package="kz.bsbnb.usci.eav" />
    <context:component-scan base-package="kz.bsbnb.usci.core.service" />
    <context:component-scan base-package="kz.bsbnb.usci.tool" />

    <context:annotation-config/>

    <bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.springframework.util.Log4jConfigurer.initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <!-- services -->
    <bean id="entityRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="entityService"/>
        <property name="service" ref="entityServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IEntityService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="batchRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="batchService"/>
        <property name="service" ref="batchServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IBatchService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="batchEntryRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="batchEntryService"/>
        <property name="service" ref="batchEntryServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IBatchEntryService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="metaFactoryRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="metaFactoryService"/>
        <property name="service" ref="metaFactoryServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IMetaFactoryService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="portalUserBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="portalUserBeanRemoteBusiness"/>
        <property name="service" ref="portalUserBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.PortalUserBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="remoteCreditorBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="remoteCreditorBusiness"/>
        <property name="service" ref="remoteCreditorBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.RemoteCreditorBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="inputFileBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="inputFileBeanRemoteBusiness"/>
        <property name="service" ref="inputFileBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.InputFileBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="inputInfoBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="inputInfoBeanRemoteBusiness"/>
        <property name="service" ref="inputInfoBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.InputInfoBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="protocolBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="protocolBeanRemoteBusiness"/>
        <property name="service" ref="protocolBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.ProtocolBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="reportBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="reportBeanRemoteBusiness"/>
        <property name="service" ref="reportBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.ReportBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="reportMessageBeanRemoteBusiness" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="reportMessageBeanRemoteBusiness"/>
        <property name="service" ref="reportMessageBeanRemoteBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.ReportMessageBeanRemoteBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="entityMergeRmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="entityMergeService"/>
        <property name="service" ref="baseEntityMergeServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IBaseEntityMergeService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="searcherFormServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="searcherFormService"/>
        <property name="service" ref="searcherFormServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.form.ISearcherFormService"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="mailServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="mailRemoteBusiness"/>
        <property name="service" ref="mailMessageBeanCommonBusinessImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.MailMessageBeanCommonBusiness"/>
        <property name="registryPort" value="1099"/>
    </bean>

    <bean id="globalServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="globalService"/>
        <property name="service" ref="globalServiceImpl"/>
        <property name="serviceInterface" value="kz.bsbnb.usci.core.service.IGlobalService"/>
        <property name="registryPort" value="1099"/>
    </bean>

</beans>